/* estilo Contacto */
main {

    .contacto {
        @include boxprincipal(nowrap,3m 15%);
        padding: 2em;
    }

    .contacto__formulario {
        font-family: $fuente_parrafos;
        font-size: 16px;
        color: $color-fuente;
        padding: 0.5em;
        margin: 0.5em;
    }
    
}


