/* estilo Tiendas  */
main {

    .tiendas {
        @include boxprincipal(wrap,3m 15%);
    }

    h3 {
        font-size: 22px;
        text-align: center;
        padding: 16px;
        color: $color_kepe;
        font-weight: bold;
        font-family: $fuente_parrafos;
    }

    .tiendas__link{
        padding: 16px;
    }

    .tiendas__texto {
        color: $color_kepe;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        font-family: $fuente_parrafos;
    }
    
}





